body {
  margin: 0;
  padding: 0;
  background-color: #332f3e;
  font-family: Arial, sans-serif;
  color: #fff;
}

header {
  color: #332f3e;
  text-align: center;
  padding: 20px 0;
  font-family: 'Anton', sans-serif;
  box-shadow: 0 10px 10px -5px #000;
}

h1 {
  font-size: 70px;
  text-shadow: 0 2px 4px #ffffff;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  text-shadow: 1px 1px 1px #000000;
}

h4 {
  font-family: Arial;
  color: #332f3e;
  font-size: 20px;
}

p {
  font-family: Arial;
}

#topbar {
  background-color: #e6c973;
  border-radius: 0;
  padding: 15px 0;
  box-shadow: 0 10px 10px -5px #000;
}

nav {
  background-color: #4db788;
  border-radius: 0;
  box-shadow: 0 2px 10px -5px #000;
  text-align: center;
}

nav a {
  color: #332f3e;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #921212;
  color: #fff;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.side {
  flex: 1;
  background-color: #e6c973;
  padding: 0px;
  text-align: center;
  width: 300px;
  border-radius: 80px;
  box-shadow: 10px 0 10px -5px #000;
}

.main {
  flex: 3;
  background-color: #4db788;
  padding: 20px;
  border-radius: 80px;
}
